In [1]:
import pandas as pd

In [3]:
data_df = pd.read_csv("../data/DataScientist.csv")

In [4]:
geo_df = pd.read_csv("../data/geo.csv")

In [5]:
data_df["state"]=data_df["state"].str.strip()
geo_df["state"]=geo_df["state"].str.strip()

In [6]:
data_df["Salary Estimate"]=data_df["Salary Estimate"].str.replace("[$]","")

<ipython-input-6-35f09c2e3530>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_df["Salary Estimate"]=data_df["Salary Estimate"].str.replace("[$]","")

In [7]:
data_df["Salary Estimate"] = (data_df["Salary Estimate"].replace(r'[KM]+$', '', regex=True).astype(float) * \
              data_df["Salary Estimate"].str.extract(r'[\d\.]+([KM]+)', expand=False)
                .fillna(1)
                .replace(['K'], [10**3]).astype(int))

In [8]:
data_df["Unnamed: 4"]=data_df["Unnamed: 4"].str.replace("$","")

<ipython-input-8-cd954a6e308d>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data_df["Unnamed: 4"]=data_df["Unnamed: 4"].str.replace("$","")

In [9]:
data_df["Unnamed: 4"]=data_df["Unnamed: 4"].str.replace("[(Glassdoor est.)]","")

<ipython-input-9-83bad875534d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_df["Unnamed: 4"]=data_df["Unnamed: 4"].str.replace("[(Glassdoor est.)]","")

In [10]:
data_df["Unnamed: 4"] = (data_df["Unnamed: 4"].replace(r'[KM]+$', '', regex=True).astype(float) * \
              data_df["Unnamed: 4"].str.extract(r'[\d\.]+([KM]+)', expand=False)
                .fillna(1)
                .replace(['K'], [10**3]).astype(int))

In [11]:
data_df
data_df['avg Salary'] = data_df[['Salary Estimate', 'Unnamed: 4']].mean(axis=1)

In [12]:
data_df['avg size']=data_df[['size1','size2']].mean(axis=1)

In [13]:
data_clean_df = data_df[["Job Title","Rating","Company Name","state","Sector","avg Salary", "avg size","Founded"]]

In [14]:
data_clean_df["state"]=data_clean_df["state"].str.strip()

<ipython-input-14-f34f77368e09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean_df["state"]=data_clean_df["state"].str.strip()

In [15]:
data_final = pd.merge(left = data_clean_df, right= geo_df, on="state", how= "inner")

In [16]:
data_final["Job Title"]=data_final["Job Title"].replace({"-1": "NULL"})

In [17]:
data_final["Rating"]=data_final["Rating"].replace(-1.0, "NULL")

In [18]:
data_final["Job Title"]=data_final["Job Title"].replace("-1", "NULL")

In [19]:
data_final["Company Name"]=data_final["Company Name"].replace("-1", "NULL")

In [20]:
data_final["state"]=data_final["state"].replace("-1", "NULL")

In [21]:
data_final["Founded"]=data_final["Founded"].replace(-1.0, "NULL")

In [22]:
data_final["avg Salary"]=data_final["avg Salary"].replace(-1.0, "NULL")

In [23]:
data_final["avg size"]=data_final["avg size"].replace("-1", "NULL")

In [24]:
data_final["Sector"]=data_final["Sector"].replace("-1", "NULL")

In [25]:
data_final["name"]=data_final["name"].replace("-1", "NULL")

In [28]:
data_final = data_final.rename({
    'Job Title': 'job_title', 
    'Rating': 'rating', 
    'Company Name': 'company_name', 
    'state': 'us_state',
    'Sector': 'sector',
    'avg Salary': 'avg_salary',
    'avg size': 'avg_size',
    'Founded': 'company_founded',
    'latitude': 'lat',
    'longitude': 'lon',
    'name': 'us_state_name'
}, axis=1)

In [30]:
data_final.to_csv("../data/data_final.csv", index =False)